{% extends '@!EasyAdmin/crud/index.html.twig' %}

{% block page_actions %}
    <form
            id="upload-publication-csv-form"
            action="{{ path('admin_page_file_upload') }}"
            method="post"
            enctype="multipart/form-data"
    >
        <div class="d-flex">
            <input
                    type="file"
                    class="form-control"
                    id="pageFileUpload"
                    required="required"
                    name="pageFileUpload"
            >
            <button type="submit" class="btn btn-primary" style="margin: 0 40px 0 20px" name="submit">
                <i class="fas fa-upload"></i>
                Uploader un fichier
            </button>
        </div>
    </form>

    {{ parent() }}
{% endblock %}