{% block content %}
    <div class="canvas-container">
        <canvas id="{{ section.title|lower|replace({' ': "-"}) }}" width="400" height="400"></canvas>
        <legend>{{ section.legend|raw }}</legend>
    </div>
{% endblock %}