{% block content %}
    <div class="row">
        <div class="col-12 col-sm-6">
            <p>{{ section.contentCol1|raw }}</p>
        </div>
        <div class="col-12 col-sm-6">
            <p>{{ section.contentCol2|raw }}</p>
        </div>
    </div>
{% endblock %}