{% block sections %}
   <div class="container">
       {% for section in sections %}
           {% include '@!Page/front/section/section.html.twig' with { 'section': section } %}
       {% endfor %}
   </div>
{% endblock %}

{% block javascript %}
    {% include '@!Page/front/includes/_js.html.twig' %}
    {% include '@!Page/front/includes/_chart_builder.html.twig' %}
{% endblock %}